
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
  background: rgba(0, 0, 0, 0.4);
}

header a {
  text-decoration: none;
  color: white;
}

#page-logo a {
  font-family: "Oleo Script", cursive;
  font-size: 28px;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
